# Ignore MacOS files
**/.DS_Store

# Ignore PyCache files
*__pycache__*

# Ignore Numpy data files
*.npy

# Ignore PyTorch model files
*.pt

# Ignore joblib files
*.joblib

# Ignore JSON output files in analytical_model
analytical_model/*.json

# Ignore plots in analytical_model
analytical_model/**/*.png

# Ignore plots in ml_model
ml_model/**/*.png

# Ignore json/jsonl files in ml_model
ml_model/**/*.json
ml_model/**/*.jsonl

# Ignore datasets in ml_model
ml_model/data/
ml_model/sim_results/