# Ignore MacOS files
**/.DS_Store

# Ignore PyCache files
*__pycache__*

# Ignore Numpy data files
*.npy

# Ignore PyTorch model files
*.pt

# Ignore JSON output files in analytical_model
analytical_model/*.json

# Ignore plots in analytical_model
analytical_model/plots/

# Ignore plots in ml_model
ml_model/plots/

# Ignore json/jsonl files in ml_model
ml_model/*/*.json
ml_model/*/*.jsonl